<div class="productName" layout="column" layout-align="center start" flex="30" style="max-width: 275px">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Feature</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showName" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('feature',true,'Feature')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showName" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('feature',null,'Feature')">
                <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div flex="5"></div>

<div class="productName" layout="column" layout-align="center start" flex ng-if="!showInpageReadpane">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Feature Code</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showCode" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('code',true,'Code')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showCode" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('code',null,'Code')">
                <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div flex="5"></div>

<div class="productName" layout="column" layout-align="center start" flex ng-if="!showInpageReadpane">
  <div layout="row">
    <span layout="column" layout-align="center center" class="header-text">Type</span>
    <div layout="column" layout="center center">
      <md-button ng-hide="showCode" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('type',true,'type')">
        <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
        <md-icon md-font-icon="icon-chevron-down"></md-icon>
      </md-button>
      <md-button ng-show="showCode" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('type',null,'type')">
        <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
        <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
      </md-button>
    </div>
  </div>
</div>

<!--<div class="productName" layout="column" layout-align="center start">-->
    <!--<div layout="row">-->
        <!--<span layout="column" layout-align="center center" class="header-text">Type</span>-->
        <!--<div layout="column" layout="center center">-->
            <!--<md-button ng-hide="showState" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('type',true,'type')">-->
                <!--<md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon md-font-icon="icon-chevron-down"></md-icon>-->
            <!--</md-button>-->
            <!--<md-button ng-show="showState" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('type',null,'type')">-->
                <!--<md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>-->
            <!--</md-button>-->
        <!--</div>-->
        <!--<div flex></div>-->
        <!--<md-menu>-->
            <!--<md-button class="md-icon-button h-30 w-30 pv-5 ph-0 m-0 op-5" ng-click="$mdOpenMenu($event)">-->
                <!--<i class="material-icons fs-20">sort</i>-->
                <!--<md-tooltip>Filters</md-tooltip>-->
            <!--</md-button>-->

            <!--<md-menu-content width="3" class="list-filter-menu">-->
                <!--<md-menu-item>-->
                    <!--<md-button layout="row" layout-align="start center" ng-click="applyFilters('')">-->
                        <!--<md-icon md-font-icon="icon-label" class="filter-label s16"></md-icon>-->
                        <!--<span>All</span>-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-item>-->
                    <!--<md-button layout="row" layout-align="start center" ng-click="applyFilters('Active')">-->
                        <!--<md-icon md-font-icon="icon-label" class="filter-label-positive s16"></md-icon>-->
                        <!--<span>Active</span>-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-item>-->
                    <!--<md-button layout="row" layout-align="start center" ng-click="applyFilters('Inactive')">-->
                        <!--<md-icon md-font-icon="icon-label" class="filter-label-negative s16"></md-icon>-->
                        <!--<span>Inactive</span>-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
            <!--</md-menu-content>-->
        <!--</md-menu>-->
    <!--</div>-->
<!--</div>-->
